body{
    background-color: black;
}
.div1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vw;
}

table,td{
    border: 1px rgb(255, 255, 255);
    border-collapse: collapse;
}

button{
    background-color: rgb(244, 243, 243);
    max-width: 240px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 6px;
}